html{
  height: 100%
}

body {
  margin: 0;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
}

body.contactMe {
 //background-image: url("contact_me_background.jpg");
}

div.first_question {
  position: absolute;
  margin: auto;
  align-items: center;
}

 /* label color */
 div.input-field label {
   color: #fff;
 }
 /* label focus color */
 div.input-field input[type=text]:focus + label {
   color: #F2B632;
 }

 /* label underline focus color */
 div.input-field input[type=text]:focus {
   border-bottom: 1px solid #F2B632;
   box-shadow: 0 1px 0 0 #F2B632;
 }
 /* valid color */
 div.input-field input[type=text].valid {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 /* invalid color */
 div.input-field input[type=text].invalid {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 /* icon prefix focus color */
 div.input-field .prefix.active {
   color: #000;
 }

 div.picker__weekday-display {
   background-color: #677077;
 }
 div.picker__date-display{
   background-color: #B5B5B7;
 }

  div.picker__year-display {
    color: #fff;
  }

  div.picker__day--selected, div.picker__day--selected:hover, div.picker--focused div.picker__day--selected {
    background-color: #252839;
  }

  button.picker__close {
    color: #252839;
  }

  button.picker__today {
    color: #252839;
  }

  div.picker__day.picker__day--today {
    color: #252839;
  }

  div.picker__nav--next:hover {
    background-color: #F2B632;
  }

  div.picker__nav--prev:hover {
    background-color: #F2B632;
  }

  div.input-field label.active {
    color: #F2B632;
  }

  .btn-large {
    width: 20em;
    margin: 1em;
    position:relative;
  }

  a.btn, a.btn-large {
    background-color: #252839;
  }

  a.btn:hover, a.btn-large:hover{
    background-color: #41455A;
  }

  div.top_row{
    padding-top: 10%;
    position:relative;
    float: center;
    align-items: center;
    text-align:center;
  }

  div.bottom_row {
    position:relative;
    float: center;
    text-align:center;
  }

  div.nav-wrapper {
    background-color: #fff;
  }

  a.nav-link {
    color: #252839;
  }

  a.nav-link:hover {
    border-bottom: 5px solid #252839;
    margin-bottom:-5px;
  }

  a.mobile-nav-link:hover {
    border-left: 5px solid #252839;
    margin-left:-5px;
  }

  nav a.brand-logo {
    color: #252839;
    font-family: 'Raleway', sans-serif;
  }

  .hamburger {
    color: #252839;
  }

  .fte-first-panel {
    padding-top: 7%;
    display: flex;
    position: relative;
  }

  .fte-second-panel {
    padding-top: 7%;
    display: flex;
    position: relative;
  }

  div.fte-card {
    margin: 0 auto;
    background-color: #252839;
  }

  div.center-card{
    margin: 0 auto;
    width: auto;
  }

  i.material-icons {
    padding-top: 7px;
  }

  i.material-icons.prefix.active {
    color: #F2B632;
  }

  a.fte-next {
    margin: 0 auto;
    position: relative;
    float: right;
    margin: 2em;
  }
  a.fte-previous {
    margin: 0 auto;
    position: relative;
    float: left;
    margin: 2em;
  }

  #previous-fte{
    padding-top: 0;
  }

  #next-fte {
    padding-top: 0;
  }

  div.next-prev-button {
    position: relative;
  }

  #submit {
    margin: 2.4em;
    float: right;
    position: relative;
    background-color: #252839;
    color: #F2B632;


  }

  #send {
    line-height: normal;
  }
